<div class="m-auto align-content-center form text-dark">
  <%= bootstrap_form_for(@requestor) do |f| %>
    <%= f.text_field :name %>
    <%= f.email_field :email %>
    <%= f.text_field :phone_number %>
    <%= f.text_field :biography %>
    <%= f.submit 'Submit'%>
  <% end %>
</div>
