<h1> New Request</h1>

<%= form_with model: requestor do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% requestor.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    <% requestor.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :phone_number %><br>
    <%= form.text_field :phone_number %>
    <% requestor.errors.full_messages_for(:phone_number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :biography %><br>
    <%= form.text_area :biography %><br>
    <% requestor.errors.full_messages_for(:biography).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>